<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Point</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header sticky">
        <a href="index.html" class="navbar-brand">
            <img src="./images/logo.png" alt="logo" height="28px">
        </a>
        <button id="menu" class="menu-toggle">
            <span class="hamburger"></span>
        </button>
        <nav class="nav" id="drawer">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Favorite</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/Fachrulmustofa20" target="_blank" class="nav-link">About Us</a>
                </li>
            </ul>
        </nav>

    </header>
    <div class="hero">
        <div class="hero-inner">
            <h1 class="hero-title">Cari Restoran Ya <span class="highlight">Resto Point</span></h1>
            <p class="hero-tagline">Mudahnya cari restoran terbaik di Resto Point</p>
        </div>
    </div>
    <main id="maincontent">
        
    </main>
    <footer>
        <p>Copyright © 2021 - Resto Point Apps</p>
    </footer>
</body>

</html>