*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.underline{
    background: linear-gradient(180deg, rgba(255,255,255,0) 55%, #f5d34b 45%);
}
/*
 * Header
 */
.header{
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: transparent;
    top: 0;
    width: 100%;
    z-index: 10;
    position: fixed;
}
.sticky{
    background-color: #18191a;
    
}
.navbar-brand{
    padding: 8px 0px;
}
/*
 * Nav
 */
.nav{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
}
.nav-link{
    color: #bdc3c7;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 400;
}
.nav-link:hover{
    color: #f5d34b;
}
.menu-toggle {
    display: none;
    padding: 1.5em 1em;
    position: absolute;
    top: -47px;
    right: .5em;
    cursor: pointer;
    grid-area: menu;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: rgb(248, 248, 248);
    height: 3px;
    width: 2em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
  
.hamburger::before {
    transform: translateY(-6px);
}
  
.hamburger::after {
    transform: translateY(3px);
}
  
.open .hamburger {
    transform: rotate(45deg);
}
  
.open .hamburger::before {
    opacity: 0;
}
  
.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}
/*
 * Hero
 */
.hero{
    margin-top: -55px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.446), rgba(0, 0, 0, 0.878)),
    url('../public/images/heros/hero-image_2.jpg');
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    text-align: center;
    color: #ecf0f1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-inner{
    margin: auto;
    padding: 40px;
}
.highlight{
    color: #f5d34b;
}
.hero-title{
    font-size: 2.5rem;
}
.hero-tagline{
    margin-top: 10px;
    font-size: 1rem;
}

/*
 * Main
 */
main{
    width: 100%;
    margin: 0 auto;
}
.content{
    padding: 32px;
    color: #18191a;
}
/*
 * Latest
 */
.latest{
    width: 100%;
    margin: 23px auto;
    text-align: center;
}
.latest-label{
    color: #18191a;
}
.favorite-label{
    padding-top: 25px;
}
.list{
    margin: 32px auto auto;
}
/*
 * List Item
 */
.list-item{
    position: relative;
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.list-item-thumb{
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}
.list-city{
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 8px 15px;
    background-color: #f5d34b;
}
.list-city p{
    color: #18191a;
    font-weight: 500;
}
.item-content{
    margin: 10px 20px;
    text-align: left;
}
.rating{
    font-weight: 400;
    padding: 5px 0px;
}
.rating-numbs{
    background-color: #18191a;
    color: #ecf0f1;
    padding: 1px 4px 1px 8px;
}
.item-title{
    margin: 8px 0;
}
.item-title a{
    font-weight: 800;
    font-size: 22px;
    padding: 5px 0px;
    color: #18191a;
}
.item-description{
    margin: 5px 0px 25px 0px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/*
 * footer
 */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90px;
    background-color: #18191a;
}
footer p{
    margin: auto;
    color: #ecf0f1;
}

.skip-link{
    background-color: #fff;
    color: #18191a;
    position: absolute;
    top: -60px;
    left: 0;
    padding: 8px 15px;
    z-index: 110;
}
.skip-link:focus{
    top: 60px;
}

/* Spinner
*/
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

/*
* Resto Detail
*/
.restaurant-name{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.restaurant-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.restaurant-info{
    padding: 5px 40px;
    text-align: justify;
}
.rating-info{
    margin-bottom: 8px;
}
.description, .address, .category, .menu, .food, .drink{
    margin: 10px 0;
}
.customer-reviews{
    margin: 15px 0;
}
.customer-name{
    font-size: 15px;
}
.reviews{
    padding: 5px 10px;
    margin: 18px 0;
    background-color: #e8e8eb;
    border-radius: 5px;
}
.date{
    color: rgb(67, 67, 67);
    font-size: 12px;
    margin: 3px 0;
}

/*
 * Like
 */
 .like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #e74c3c;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-connection{
    text-align: center;
    padding-top: 150px;
    min-height: 540px;
}
.not-internet{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.img-internet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}